@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*, *::after, *::before 
{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body 
{
   background-color: #F1EEE9;
   text-align: center;
   min-height: 100vh;
    font-family: 'Roboto Slab', serif;
  
}

header 
{
    background-image:linear-gradient(90deg, #112B3C, #570A57);
    background-size:200%;
    color:#fff;
    font-size:clamp(0.6rem, 20px, 5vw);
    padding:8vw 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: linear 8s infinite reverse  bg-move;
}

.title__wrapper 
{
    outline: 3px solid #fff;
    padding: 2vw 3vw;
}

@keyframes bg-move {
    0% 
    {
        background-position: left;
    }
    100%
    {
        background-position: right;
    }
}
div.container 
{
  
    margin-block:2rem;
    width: 80%;
    margin-inline:auto;
}

.options-container h2
{
    font-size:clamp(3vw, 1.2rem, 23px);
}

.color-type-container 
{
    padding:2vw;
    font-size:min(1.3rem, 4.5vw);
}

.types 
{
    display: flex;
    margin-block:0.5rem;
    gap:0.5rem;
    justify-content: center;
    flex-wrap: wrap;

}
.types label 
{
    min-width: 100px;
    display: inline-block;
    padding:1vw;
    background-color: #112B3C;
    color:#fff;
    cursor: pointer;
}
.quantity
{
    width: 80%;
    margin-inline: auto;
    padding:1vw;
    font-size: 1.3rem;
    font-weight: bold;
}
.quantity .color-quantity-container
{
    display: flex;
    justify-content: center;
    gap:1vw;
    flex-wrap: wrap;
}
.btn-container
{
    margin-block:1rem;
}
.btn-container button 
{
    padding:1vw 1.2vw;
    font-weight: bold;
    text-transform: capitalize;
    color:#fff;
    cursor: pointer;
    background-image: linear-gradient(90deg, #E04D01, #2A2550 50%);
    background-size: 150%;
    background-position: center;
    transition: 0.1s linear;
}

.btn-container button:hover 
{
    background-position: left;
}
.color-quantity-container input 
{
    background-color: aliceblue;
    border-radius: 10px;
    padding:0.2rem;
    font-weight: bolder;
    font-size: 1rem;
    text-align: center;
}
.colors-container 
{
    margin-block:1rem;
    width: 80%;
    max-width: 1000px;
    gap:max(2vw, 1.3rem);
    margin:1rem auto;
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
}

.color-item 
{
    
  
    min-width: fit-content;
    width: 80%;
    margin-inline:auto;
    max-width: 400px;
    height:200px;
    font-weight: bolder;
    min-height: 150px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition:0.4s linear;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(122, 122, 122, 0.5);
}
.color-item:hover 
{
    transform:scale(1.1);
}
.color-item > * 
{
    flex: 1 1 50%;
}
.color 
{
    background-color: #ff0000;
}
.color-name 
{
    display: flex;
    justify-content: center;
    align-items: center;
}